<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porque Te Amo | ❣️</title>
    <link rel="stylesheet" href="/assets/style/style.css"> <!-- Style-CSS -->
    <link rel="shortcut icon" href="/assets/img/Misahappy.gif" type="image/x-icon">  <!-- FAVicon -->
    <script src="https://cdn.tailwindcss.com"></script> <!-- tailwindcss -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet"> <!-- Google Icons -->
    <link rel="stylesheet" href="/fontawesome-free-6.7.1-web/fontawesome-free-6.7.1-web/css/all.css"> <!-- FontAwesome Iconos -->
</head>
<body id="misa">
    <header>
        <nav class="navep">
            <a href="index.html">
                <h2>
                    Deseas volver al Inicio? <br>
                </h2>
                Volvamos 🖤
            </a>
        </nav>
        <h1 class="text-3xl font-extrabold ">
            MY HONEY
            <i class="material-icons text-4xl">favorite</i>
        </h1>
        <div class="container">
            <h2 class="text-3xl">Creo que quizas pueda enamorarme de ti....</h2>
            <video controls autoplay>
                <source src="/assets/videos/videoL.mp4">
            </video> 
        </div>
    </header>
    <main class="container" id="main">
        <ul>
            <li>
                AMO tu humor <br>
            </li>
            
            <li>
                Me encantan tus ojitos <br>
            </li>
            <li>
                Me encanta tu forma de ser <br>
            </li>
            <li>
                Me encanta tu forma de pensar <br>
            <li>
                Me encanta tu forma de actuar xd <br>
            </li>
        </ul>
        
    </main>
    <footer class="agradecimiento" onclick="reproducirSonidoFooter()">    
        <audio id="audioFooter" src="/assets/audios/yeii.mp3" preload="auto"></audio>
        <p>
            Eres la mejor mi niña
        </p>
    </footer>
    <script src="/assets/js/script.js"></script>
</body>
</html>